<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/projects/HoThiMong-PNV20">
        <classes>
            <class name="runner.TestRunner">
                <methods>
                    <include name="feature"/>
                </methods>
            </class>
            <parameter name="browser" value="firefox"></parameter>
            <parameter name="version" value="latest"></parameter>
            <parameter name="platform" value="mac"></parameter>
        </classes>
    </test>
</suite>